name: Deploy CloudFormation

on:
  workflow_dispatch:
    inputs:
      accountNumber:
        description: 'AWS Account where you want to deploy'
        required: true
      env:
        description: 'Environemnt dev or pro'
        required: true
        default: dev
        options: ['dev', 'pro']

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      KEYPAIR: dgl
    steps:
      - name: Configure AWS credentials
        id: creds
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: 'eu-west-1'

      #- name: Get Parameters
      #  run: |
      #  
      #    jq -r -c '.[] | select(.Name | test("PrivateSubnet.{2}AID"))'.Value | paste -sd "," -

      - name: Set environment variables.
        run: |
          if [[ ${{ github.event.inputs.env }} == dev ]]; then
            echo "INSTANCE_TYPE=t2.micro" >> $GITHUB_ENV
          else
            echo "INSTANCE_TYPE=t3.micro" >> $GITHUB_ENV
          fi
        
      - name: Deploy CloudFormation Stack
        uses: aws-actions/aws-cloudformation-github-deploy@v1.0.3
        with:
          name: test-ec2
          template: test-template.yaml
          no-fail-on-empty-changeset: 1
          parameter-overrides: >-
            InstanceType=${{ env.INSTANCE_TYPE }},
            KeyName=${{ env.KEYPAIR }}